p {
    font-size: 15px;
    text-align: left;
}

h2 {
    text-align: left;
}

h5 {
    text-align: left;
}

span {
    float: right;
    color: #9B9B9B;
}


.wrapper {
    background-color: #d3c5c5;
    display: grid;
    grid-template-columns: 17% 50%;
}

html {
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.card-container {
    width: 100%;
    height: auto;
    margin: auto 0;
    display: flex;
    justify-content: center;
}

.recipe-card {
    margin: 4em auto;
    width: 90%;
    max-width: 496px;
    padding: 1rem;
    background: #FFFFFF;


    span:nth-of-type(2) {
        margin-left: 0.5em;
        font-size: 0.8em;
        font-weight: 300;
        vertical-align: middle;
        color: #838689;
    }
}
}

h2,
h3 {
    margin: 0;
    font-weight: 300;
}

h2 {
    font-size: em(28);
    color: #222222;
}

h3 {
    font-size: em(15);
    color: #9B9B9B;
}

p {
    margin: 1.25em 0;
    font-size: em(13);
    font-weight: 400;
    color: #e3cdb1;

    span {
        font-weight: 700;
        color: #000000;
    }
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    bottom: 0;
    width: 1600px;
    height: 339px;
    left: 0px;
    top: 0px;

}

footer>h3 {
    color: #e3cdb1;
    width: 246px;
    height: 26px;
    left: 1px;
    top: 0px;
    font-family: poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;



}

footer>p {
    width: 565px;
    height: 53px;
    left: 0px;
    top: 26px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    display: flex;
    align-items: flex-end;
}

.fav {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    border: 1px solid #e3cdb1;
    box-sizing: border-box;
}

.fav>p {
    left: 0%;
    right: 0%;
    top: 25%;
    bottom: 25%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: #e3cdb1;
}

.email1 {
    width: 200px;
    height: 30px;
    left: 1px;
    top: 25px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    display: flex;
    align-items: flex-end;
    color: #525252;


}

.logo {
    text-align: center;
 }

  .oval {
     position: relative;
     top: 10px;
     right: 33px;
  }

  .ova {
      position: relative;
      top: 0px;
      left: 0px;
  }